@import "~bulma/sass/utilities/initial-variables"

// Config vars
// Kaldi logo brand color: #FD461E
// 灰色：#7C7C7C
// 黒　：#333436
// 紅　：#B11C2F
// 水色：#3B94D0
$kaldi-red: #5e0303
$kaldi-red-invert: #fff
$nuyl-gold: #a08332

$primary: $kaldi-red
$info: #251e1c
// $info: #5e0303
$primary-invert: $kaldi-red-invert
$body-color: #333
// $black: #333436
$link: $nuyl-gold


$font-famiry-sans-serif: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif !default
$font-famiry-serif: "Hiragino Mincho ProN", "游明朝", "YuMincho", "HG明朝E", Meiryo, serif !default
$font-family: "游ゴシック", "Nunito Sans", sans-serif !default

.blog-posts .post .post-title
  padding-left: 0.5rem
  padding-rigth: 0.5rem

.post-category
  padding-left: 0.5rem
  padding-rigth: 0.5rem

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  letter-spacing: 0.05em
  font-feature-settings: "palt" 1
  line-height: 2.0
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 2em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.full-width-image
    width: 100vw
    height: 400px
    background-size: cover
    background-position: bottom
    display: flex
    justify-content: center
    align-items: center

.btn
    display: inline-block
    padding: 12px 16px 10px
    font-size: 18px
    font-size: 1rem
    line-height: 1.25
    background-color: #fff
    border-radius: .25rem
    text-decoration: none
    font-weight: 700
    color: #CC3700
    text-align: center
    -webkit-box-shadow: inset 0 0 0 2px #CC3700
    box-shadow: inset 0 0 0 2px #f40
    -webkit-transition: all .15s ease
    transition: all .15s ease

.margin-top-0
  margin-top: 0 !important


.icon svg
  width: 1.5rem
  height: 1.5rem
  fill: currentColor
.navbar-brand .navbar-item.logo
  padding: 0 1rem
footer.footer
  padding: 3rem 0rem 0rem
  background-color: transparent

//Menu overrides
$menu-item-color: $white-ter
$menu-item-hover-color: $primary !important
$menu-item-hover-background-color: $primary
$menu-item-active-color: $kaldi-red-invert
$menu-item-active-background-color:	$kaldi-red-invert
$menu-list-border-left: 1px solid $kaldi-red-invert
$menu-label-color: $white-ter


.menu-label
  font-size: 1em !important
  text-align: left
.menu-list
  list-style: none !important
  text-align: left
.social
  padding: 2em
.social a
    padding: .5em .5em .3em .5em
    border-radius: 1em
    background-color: $white-ter
    margin: .5em
    width: 2em
    height: 2em
    vertical-align: middle
    display: inline

// blog roll
.blog-list-item.is-featured
  background-color: #DDFFDD
.blog-list-item header
  display: flex
  margin-bottom: 1em
.blog-list-item .featured-thumbnail
  flex-basis: 35%
  margin: 0 1.5em 0 0

@import "~bulma"


// responsiveness
+tablet-only
  .blog-list-item .featured-thumbnail
    flex-basis: 50%

+mobile
  .blog-list-item header
    display: block
  .blog-list-item .featured-thumbnail
    text-align: center
    max-width: 70%
    margin: 0 0 1em


body
     letter-spacing: 0.05em
     font-feature-settings: "palt" 1
     line-height: 1.7


.va
  display: flex
  align-items: center

a
  /* color: #251e1c */
  font-weight: 700


a:hover
  text-decoration: underline
  /* color: #cc0000 */
  color: $kaldi-red


hr
  background: $nuyl-gold


h1
  font-size: 2.2rem
  /* color: white */
  font-weight: 700

h2
  /* color: white */
  font-size: 1.6rem
  font-weight: 700


.circle
  text-align: center
  margin: 0 auto
  width: 100px
  height: 100px
  line-height: 100px
  border-radius: 50%
  margin-bottom: 50px
  background-color: $nuyl-gold
  color: #fff

.gold-circle
  margin: 0 auto
  width: 200px
  height: 200px
  border-radius: 50%
  display: flex
  align-items: center
  justify-content: center
  background-color: $nuyl-gold
  color: #fff
  line-height: 1.5

.silver-circle
  margin: 0 auto
  width: 200px
  height: 200px
  border-radius: 50%
  display: flex
  align-items: center
  justify-content: center
  background-color: #989797
  color: #fff
  line-height: 1.5

.bronze-circle
  margin: 0 auto
  width: 200px
  height: 200px
  border-radius: 50%
  display: flex
  align-items: center
  justify-content: center
  background-color: $kaldi-red
  color: #fff
  line-height: 1.5

.nodot
  list-style: none

.hero
  background: #251e1c

.hero-body
  background: black


.title,
.subtitle
  color: white

.navbar .navbar-brand
  color: #e4e2ff


.navbar .navbar-item
  color: #e4e2ff
  background: #251e1c


.navbar .navbar-item.is-active
  color: $nuyl-gold
  font-weight: 700


.navbar .navbar-item:hover
  background: $kaldi-red
  color: $nuyl-gold

.navbar .navbar-item a
  margin-left: 1rem
  color: #e4e2ff

.navbar-toggler
  border-color: $kaldi-red
  background-color: $kaldi-red


.navbar-burger
  border-color: $nuyl-gold
  background-color: $kaldi-red
  color: rgb(250, 249, 235)


.blog-posts
  min-height: 100vh
  background: f0ffff
  padding-top: 4rem
  padding-bottom: 10rem


.blog-posts article
  padding: 1.5rem


.blog-posts .post img
  border-radius: 6px

.blog-posts .post .post-category
  color: #bca159


.blog-posts .post .post-title
  font-size: 2.2rem


.blog-posts .post .post-excerpt
  line-height: 1.5rem
  letter-spacing: 0.03rem
  font-size: 1.2rem
  margin: 1em
  /* line-height: 2 */
  /* margin-bottom: 2rem */
  font-family: "游ゴシック", "IBM Plex Serif", serif
  color: #cbcfcf
  font-feature-settings: "palt" 1


.button
  background: $nuyl-gold
  color: white

.pagetop
  display: flex
  justify-content: right


.pagetopbtn
  border: none
  cursor: pointer
  padding: 0
  appearance: none
  padding: 0.75em 1em
  background: #fff
  color: $nuyl-gold
  font-size: 1.2rem


.pagetopbtnEn
  border: none
  cursor: pointer
  padding: 0
  appearance: none
  padding: 0.75em 1em
  background: #251e1c
  color: $nuyl-gold
  font-size: 1.2rem


.pagetopButton
  position: fixed
  width: 100%
  left: 80%
  bottom: 40px
  height: 20px
  font-size: 3rem
  z-index: 1
  cursor: pointer
  color: $nuyl-gold
