@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Nunito+Sans:wght@400;600&display=swap");

.va {
  display: flex;
  align-items: center;
}

html {
  font-family: "游ゴシック", "Nunito Sans", sans-serif;
  color: white;
}

a {
  /* color: #251e1c; */
  font-weight: 700;
}

a:hover {
  text-decoration: underline;
  color: #bca159;
}

hr {
  background: #bca159;
}

h1 {
  font-size: 2.2rem;
  /* color: white; */
  font-weight: 700;
}
h2 {
  /* color: white; */
  font-size: 1.6rem;
  font-weight: 700;
}

.hero {
  background: #251e1c;
}

.hero-body {
  background: black;
}

.title,
.subtitle {
  color: white;
}

.navbar .navbar-brand {
  color: #e4e2ff;
  /* background: #5e0303; */
}

.navbar .navbar-item {
  color: #e4e2ff;
  background: #251e1c;
}

.navbar .navbar-item.is-active {
  color: #bca159;
  font-weight: 700;
}

.navbar .navbar-item:hover {
  background: #5e0303;
  color: #bca159;
}

.navbar .navbar-item a {
  margin-left: 1rem;
  color: #e4e2ff;
}

.navbar-toggler {
  border-color: #5e0303;
  background-color: #5e0303;
}

.navbar-burger {
  border-color: #bca159;
  background-color: #5e0303; /* 背景 */
  color: rgb(250, 249, 235); /* 枠線 */
}

.blog-posts {
  min-height: 100vh;
  background: f0ffff;
  padding-top: 4rem;
  padding-bottom: 10rem;
}

.blog-posts article {
  padding: 1.5rem;
}

.blog-posts .post img {
  border-radius: 6px;
}

.blog-posts .post .post-category {
  color: #bca159;
}

.blog-posts .post .post-title {
  font-size: 2.2rem;
}

.blog-posts .post .post-excerpt {
  line-height: 1.5rem;
  letter-spacing: 0.03rem;
  font-size: 1.2rem;
  /* margin: 1em 0px; */
  /* line-height: 2; */
  /* margin-bottom: 2rem; */
  font-family: "游ゴシック", "IBM Plex Serif", serif;
  color: #cbcfcf;
  font-feature-settings: "palt" 1;
}

.j-title .subtitle .post-title {
  color: #fd461e;
}

.full-width-image {
  width: 100vw;
  height: 400px;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background: #bca159;
  color: white;
}

.pagetop {
  display: flex;
  justify-content: right;
}

.pagetopbtn {
  border: none;
  cursor: pointer;
  padding: 0;
  appearance: none;
  padding: 0.75em 1em;
  background: #fff;
  color: #bca159;
  font-size: 1.2rem;
}

.pagetopbtnEn {
  border: none;
  cursor: pointer;
  padding: 0;
  appearance: none;
  padding: 0.75em 1em;
  background: #251e1c;
  color: #bca159;
  font-size: 1.2rem;
}
